<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>Channel: {{chan.name}}</title>
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    <link rel="stylesheet" href="static/bootstrap-4.1.3-dist/css/bootstrap.min.css"/>
    </head>
    <body class="main-container">
                        <nav class="navbar navbar-expand-md navbar-light bg-light">
                            <a class="navbar-brand" style="color: rgb(0, 0, 0);">Youtube Stats</a>
                            <ul class="ml-auto navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/" style="color: rgb(0, 0, 0);">Home</a></li>
                                <li class="nav-item">
                                        <a class="nav-link" href="about"  style="color: rgb(0, 0, 0);">About</a></li>
                                <li class="nav-item">
                                        <a class="nav-link" href="videos"  style="color: rgb(0, 0, 0);">Videos</a></li>
                                <li class="nav-item">
                                        <a class="nav-link" href="channels"  style="color: rgb(0, 0, 0);">Channels</a></li>
                                <li class="nav-item">
                                        <a class="nav-link" href="playlists"  style="color: rgb(0, 0, 0);">Playlists</a></li>
                                <li class="nav-item">
                                    <form method="get" action="" id="search">
                                        Search: <input type="text" name="searchValNav" onkeypress="if(window.event.keyCode == 13){return noenter()}">
                                        <select id="entType">
                                            <option value="everything">All types</option>
                                            <option value="videos">Videos</option>
                                            <option value="channels">Channels</option>
                                            <option value="playlists">Playlists</option>
                                        </select>
                                        <input type="button" onClick="searchNav()" value="Go!">
                                    </form>
                                </li>
                            </ul>
                        </nav>
    <div id="bodyContent">
    <div class="container text-center">
    <div font-color="textcolorwhite">
    <p><center><h1>Channel: {{chan.name}}</h1></center><br>
    Name: {{chan.name}}<br>
    Date joined: {{chan.date_joined}}<br>
    Number of subscribers: {{chan.number_subscribers}}<br>
    Number of videos: {{chan.number_videos}}<br>
    Number of playlists: {{chan.number_playlists}}<br>
    Number of views: {{chan.number_views}}<br>
    Link to the channel: <a href={{chan.channel_link_id}}>click here</a><br>
    <img src={{chan.image}}>
    <br>
    Video links: 
        {% if chan.video_links[0] == "(none)" %}
            (none)
        {% else %}
            {% for i in chan.video_links %}
            <a href="{{url_for(idpb[i])}}">{{i}}</a>, 
            {% endfor %}
        {% endif %}
        <br>
    Playlist links:
        {% if chan.video_links[0] == "(none)" %}
            (none)
        {% else %}
            {% for i in chan.playlist_links %}
            <a href="{{url_for(idpb[i])}}">{{i}}</a>, 
            {% endfor %}
        {% endif %}
        <br>
    </p>
    <br>
    <form id="jsSearch">
        Search: <input type="text" name="searchVal" onkeypress="if(window.event.keyCode == 13){return noentertwo()}">
        <input type="button" onClick="search()" value="Go">
    </form>
    </div>
    </div>
    </div>
    <script>
    function noenter(){
        searchNav()
        return !(window.event && window.event.keyCode == 13);
    }
    function noentertwo(){
        search()
        return !(window.event && window.event.keyCode == 13);
    }
    var xhr;
        if (window.ActiveXObject) { 
            xhr = new ActiveXObject ("Microsoft.XMLHTTP"); 
        } 
        else if (window.XMLHttpRequest) { 
            xhr = new XMLHttpRequest (); 
        }
    function searchNav(){
        type = document.getElementById("entType").value;
        console.log(type);

        test = document.getElementById("search").searchValNav.value;

        // Only make the server call if there is data 
        if ((test == null) || (test == "")) return;

        // Build the URL to connect to 
        //var url = "http://127.0.0.1:5000/search?searchValNav=" + escape(test); 
        var url = "/search"; 

        var data = new FormData();
        data.append("searchValNav",test);
        data.append("type",type)
        // Open a connection to the server 
        xhr.open ("POST", url); 

        // Setup a function for the server to run when it is done 
        xhr.onreadystatechange = updatePage; 

        // Send the request 
        xhr.send(data);
    }
    function updatePage() { 
        if (xhr.readyState == 4) { 
            if (xhr.status == 200) {
                var response = xhr.responseText; 
                response = JSON.parse(response);
                //console.log("Here is your repsonse:" + response);
                var slate = document.getElementById("bodyContent")

                resList = "<center>Results:</center>"

                if(response.length > 0){
                    for(i = 0; i < response.length; i ++){
                        resList = resList + (i+1) + ". "
                        resList = resList + response[i]["name"] + " - "
                        resList = resList + '<a href="./' + response[i]["link"] + '">Link</a><br>'
                        //console.log(resList)
                    }
                } else if(response.length == 0){
                    resList = resList + "<br>No results found."
                }

                slate.innerHTML = resList;

            } 
        } 
    }
    function search(){
            test = document.getElementById("jsSearch").searchVal.value; // gets the text that the user implimented
            var locIdpb = {
                "important videos": "playlist1",
                "Agape Download": "playlist2",
                "Lounge": "playlist3",
                "Peter Goes to Walmart": "playlist4",
                "Fav": "playlist5",
                "Russian Hitman Pranks!": "playlist6",
                "Helping The Homeless!": "playlist7",
                "How To Pick Up Girls!": "playlist8",
                "Disturbing The Peace!": "playlist9",
                "Ranveer Singh: Simmba Movie Video & Audio Songs": "playlist10",
                "Hit Videos": "playlist11",
                "ANIME!!": "playlist12",
                "Disney's Dumbo - In theatres March 29, 2019": "playlist13",
                "ADULT SWIM SMALLS": "playlist14",
                "#TheDesiFrenzy": "playlist15",
                "FOOOOD VIDEOS!!": "playlist16",
                "SKETCHES": "playlist17",
                "MUSIC": "playlist18",
                "NBA Top Plays of the Night": "playlist19",
                "College Admissions Scandal": "playlist20",
                "Project Butterfly.": "playlist21",
                "FIFA 18 RTG": "playlist22",
                "Original Songs": "playlist23",
                "Original Music Videos": "playlist24",
                "Twinbeatz Live Shows": "playlist25",
                "Castlevania: Symphony of the Night": "playlist26",
                "JASON DERULO Choreography | Matt Steffanina": "playlist27",
                "NICKI MINAJ Choreography | Matt Steffanina": "playlist28",
                "CHRIS BROWN Choreography | Matt Steffanina": "playlist29",
                "Twitch: Final Fantasy VI - Brave New World": "playlist30",
                "CHALLENGES": "playlist31",
                "VLOGS": "playlist32",
                "Trips": "playlist33",
                "Home Projects": "playlist34",
                "Car Stuff": "playlist35",
                "ACTIVEWEAR & CLOTHING TRY ONS!": "playlist36",
                "CHALLENGES!!": "playlist37",
                "Q&A": "playlist38",
                "12 Collabs of Christmas | IISuperwomanII": "playlist39",
                "TYPES OF PEOPLE | IISuperwomanII": "playlist40",
                "THE PARENTS LOLS | IISuperwomanII": "playlist41",
                "#GirlLove | IISuperwomanII": "playlist42",
                "MY PARENTS REACT| IISuperwomanII": "playlist43",
                "COOKING HIGH CALORIE MEALS | Kali Muscle": "playlist44",
                "ICEP WORKOUTS | Kali Muscle": "playlist45",
                "AB WORKOUTS | Kali Muscle": "playlist46",
                "Just Let Go": "playlist47",
                "Heartbreak on a Full Moon": "playlist48",
                "BOLLY FUNK": "playlist49",
                "DanceOn": "playlist50",
                "BHANGRA FUNK": "playlist51",
                "Fragrance Reviews": "playlist52",
                "Fragrant Facts": "playlist53",
                "kierancaspian": "channel1",
                "revergo": "channel2",
                "nicolas guergoff": "channel3",
                "KSI": "channel4",
                "The Super Gaming Bros.": "channel5",
                "Photo Fam": "channel6",
                "Logan Paul Vlogs": "channel7",
                "VitalyzdTv": "channel8",
                "T-Series": "channel9",
                "Deji": "channel10",
                "DEATH BATTLE!": "channel11",
                "First We Feast": "channel12",
                "FIFATV": "channel13",
                "Love.Runs.Deep": "channel14",
                "IISuperwomanII": "channel15",
                "ZaidAliT Vlogs": "channel16",
                "DJ Twinbeatz": "channel17",
                "1MILLION Dance Studio": "channel18",
                "Hampus Botvid": "channel19",
                "GQ": "channel20",
                "Terry Crews": "channel21",
                "fouseyTUBE": "channel22",
                "Walt Disney Studios": "channel23",
                "Adult Swim": "channel24",
                "AA9skillz": "channel25",
                "Game with Kali": "channel26",
                "Kali Muscle": "channel27",
                "Erica's World": "channel28",
                "2BrosReact": "channel29",
                "SgtRocko": "channel30",
                "JusReign": "channel31",
                "desifrenzy": "channel32",
                "NBA": "channel33",
                "LotsOfBunnies": "channel34",
                "Our Nerd Farm": "channel35",
                "Bowtie FragranceGuy": "channel36",
                "Chaos Fragrances": "channel37",
                "HiHo Kids": "channel38",
                "SomecallmeJohnny": "channel39",
                "BFunkDance": "channel40",
                "Looper": "channel41",
                "ChrisBrownTV": "channel42",
                "EminemMusic": "channel43",
                "WORLDSTARHIPHOP": "channel44",
                "Machine Gun Kelly": "channel45",
                "Entertainment Tonight": "channel46",
                "Matt Steffanina": "channel47",
                "Don't Hug Me .I'm Scared": "channel48",
                "Joe Weller": "channel49",
                "Jordan Beau": "channel50",
                "Yee": "video1",
                "the eames era listen for the sun": "video2",
                "Unknown Artist - Untitled 02": "video3",
                "color red": "video4",
                "Hollaback Seinfeld": "video5",
                "Try not to laugh CHALLENGE 8 by AdikTheOne": "video6",
                "Try not to laugh CHALLENGE 20 by AdikTheOne": "video7",
                "Chippy goes to Home Depot and Walmart, Peter buys bird seed and sees Bob Seger": "video8",
                "Peter Goes to Walmart the Husband shows up and looks .....": "video9",
                "Peter gets Coconut Red Bull at Dandy Mart": "video10",
                "10 Underground things that take place during Yugioh tournaments !": "video11",
                "Most Epic TOMORROWLAND WINTER Experience 2019!": "video12",
                "SHE IS ARMED AND DANGEROUS!": "video13",
                "Holding Random Guy's Hands Prank!": "video14",
                "PM Narendra Modi | The Look - Making | Vivek Oberoi | Omung Kumar | Sandip Ssingh | 5th April": "video15",
                "Meri Maa | CYPHER | Divya Jagdale | Sagar Pathak | Sonu Nigam | Bharat Kamal": "video16",
                "Junglee: DOSTI | Vidyut Jammwal | Mohan Kannan | Sameer Uddin | T-Series": "video17",
                "SIMMBA: Aankh Marey | Ranveer Singh, Sara Ali Khan | Tanishk Bagchi, Mika, Neha Kakkar, Kumar Sanu": "video18",
                "Tum Hi Ho Rehnuma Shreya G Armaan M | T-SERIES MIXTAPE SEASON 2 | Ep 1 Bhushan K Ahmed K Abhijit V": "video19",
                "One Minute Melee - Roronoa Zoro Vs Rurouni Kenshin (One Piece vs Samurai X)": "video20",
                "Gaara VS Toph (Naruto VS Avatar) | DEATH BATTLE!": "video21",
                "Not my Sonic! | DEATH BATTLE Cast": "video22",
                "Dumbo Official Trailer": "video23",
                "ADULT SWIM SMALLS: VOLUME ONE": "video24",
                "BACH GAIYA SCOTT (feat. Surinder Shinda & Kuldip Manak) | DJ FRENZY | Latest Punjabi Songs 2019": "video25",
                "Moose Wala Frenzy | DJ FRENZY | Sidhu Moosewala | Latest Punjabi Songs 2019": "video26",
                "DESPA-SUIT-O [The Laung Gawacha Mix] | DJ FRENZY | GURU RANDHAWA | NOOR JEHAN": "video27",
                "ANGRIEST WHOPPER!?!": "video28",
                "The FBI is Watching Us": "video29",
                "JUST 2 BOYZ GOING TO COACHELLA": "video30",
                "NBA Top 10 Plays of the Night | March 27, 2019": "video31",
                "Olivia Jade Has Not Dropped Out of USC Amid College Admissions Scandal": "video32",
                "Lori Loughlin Interview Resurfaces Amid College Admissions Scandal": "video33",
                "GoodBye Forever. My New Home.": "video34",
                "24 Hour Overnight Challenge At Jake Paul Team 10 House!": "video35",
                "OMG MY TOP 100 REWARDS! *EPIC WALKOUT* FIFA 18 Road To Fut Champions! Ultimate Team #13 RTG": "video36",
                "OMG 2ND IN THE WORLD TOP 100 FUT CHAMPIONS REWARDS! FIFA 19 Ultimate Team": "video37",
                "Wanna Do - Joe Weller ft. Emil (Official Video)": "video38",
                "Twinbeatz - Speechless ft. Talwiinder & Push Kahlon (Official Video)": "video39",
                "Twinbeatz - Trophy ft. Amanjot Sangha (Official Video)": "video40",
                "Twinbeatz \"Dream BIG\" at Sacramento | Team JSP & Kanda Productions | 9.25.2017": "video41",
                "Twinbeatz \"Dream BIG\" Tour at Toronto | Halloween 2017": "video42",
                "SGB Play: Castlevania: Symphony of the Night - Part 1 | But Where's the Symphony?": "video43",
                "JASON DERULO - \"TIP TOE\" Surprise Dance w/ Matt Steffanina ft Dytto, Aliya Janell & more": "video44",
                "\"MAMA\" - 6ix9nine ft Nicki Minaj & Kanye Dance | Matt Steffanina ft Josh Killacky": "video45",
                "Nicki Minaj - \"BARBIE DREAMS\" Dance | Matt Steffanina ft Kaycee, Bailey & Charlize": "video46",
                "CHI CHI - Trey Songz & Chris Brown Dance | Matt Steffanina & Josh Beauchamp Choreography": "video47",
                "Chris Brown - \"UNDECIDED\" Dance | Matt Steffanina ft Bailey Sok": "video48",
                "Twitch: Final Fantasy VI: Brave New World | Session #01": "video49",
                "Twitch: Final Fantasy VI: Brave New World | Session #05": "video50",
                "Pie Face Game with Grandma": "video51",
                "Speaking Only Russian for 24 hours": "video52",
                "Baby Drives Lambo on Sunset Blvd - (Santa Visits!)": "video53"
            }
            if(test == ""){
                alert("Please enter a value.");
            }else if(locIdpb[test] == undefined){
                alert("Can't find " + test + ".");
            }else{
                window.location = locIdpb[test]
            }
    }
    </script>
</body>
</html>
