.main-container{
    background-color: #bec5d1;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.entity-container{
    background-color: #bec5d1;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.secondary-container{
    background-color: #bec5d1;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid white;
}
.card-body {
    color: white;
    background-color: black;
    font-size: 12pt;
    font-family: Calibri;
}
.btn-outline-secondary {
    color: white;
}
.background-img {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.title {
    font-size: 20pt;
    display: inline;
    padding: 15px;
    font-family: "Verdana", sans-serif;
}

.title:hover {
    text-decoration: underline;
}
.dataTables_wrapper {
   margin-left: 2%;
}
.row {
    width: 100%;
}


h1 {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.link-text {
    font-size: 14pt;
    display: inline;
    font-family: "Verdana", sans-serif;
}

h1.subheadings{
    font-size: 18p
    font-family: "Calibri", sans-serif;
}

h2.subheadings {
    font-size: 18pt;
    display: inline;
    padding: 10px;
    font-family: "Verdana", sans-serif;
    display: flex;
}

.fill {
    min-height: 100vh;
    height: 100%;
}
#map {
    width: 100%;
    height: 70vh;
    overflow: auto;
    border-style: solid;
    border-width: 0.9px;
}

p {
    font-family: "Verdana", sans-serif;
}

.fontcolorwhite {
    border: 2px solid white;
    border-radius: 20px;
}

.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
}
.person:hover {
  border-color: #f1f1f1;
}
/* modding bootstrap navbar*/
.navbar {
    min-height: 80px;
    background-color: #dcebf8;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

.footer {
    overflow: hidden;
    background-color: #dcebf8;
    min-height: 60px;
}